@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2B2D42;
  --foreground: #EDF2F4;
  --surface: #18181b;
  --surface-muted: #27272a;
  --accent: #273469;
  --accent-hover: #212C59;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}